.navbar-logo {
  font-family: "Oswald", sans-serif;
  color: #7d70ba;
  text-decoration: none;
  font-size: 28px;
  /* font-weight: bold; */
  position: absolute;
  top: 25px;
  left: 120px;
}

.navbar-logo-mobile {
  font-family: "Oswald", sans-serif;
  color: #7d70ba;
  text-decoration: none;
  font-size: 24px;
  position: absolute;
  bottom: 23px;
  left: 60px;
  /* font-weight: bold; */
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--bg-color);
  box-shadow: 0 2px 0px 0px var(--box-shadow);
}

.navbar-container {
  display: flex;
  justify-content: right;
  height: 80px;
}

.navbar-mobile-container {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px 4px var(--box-shadow);
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
  position: absolute;
  right: 6%;
  top: 20 px;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-links {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-selected {
  color: var(--text-highlight);
  font-weight: 700;
}

.nav-links:hover {
  color: var(--text-highlight);
}

.navbar-mobile-icon {
  position: fixed;
  bottom: 18px;
  right: 20px;
  color: var(--text-highlight);
  font-size: 22px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-mobile-card {
  width: 98%;
  height: 200px;
  /* border: 1px solid var(--text-color); */
  box-shadow: 0 4px 8px 0 var(--box-shadow);
  background-color: var(--bg-color);
  position: fixed;
  bottom: 100px;
  left: 1%;
}

.mobile-menu-items {
  width: 100%;
  padding: 5px;
}

.mobile-menu-items > tr {
  width: 100%;
}

.mobile-menu-items > tr > td {
  width: 33%;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  color: var(--text-color);
}

.mobile-menu-items > tr > td > p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  margin-top: 0px;
}
