.btn-normal {
  background-color: var(--text-highlight);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin: 2px 10px;
  cursor: pointer;
}

.btn-outline {
  background-color: transparent;
  color: var(--text-highlight);
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid var(--text-highlight);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin: 2px 10px;
  cursor: pointer;
}
